<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Aula 15-04</title>
</head>
<body>
    <div id="app" v-cloak>
        <button @click="fetchPokemons"> Chamar Pokemons</button>
        <ul>
            <li v-for="pokemon in pokemons" :key="pokemon.id" :class="getTypeClass(pokemon.types[0].type.name)">
                <div class="pokemon-card">
                    <img :src="pokemon.sprite.front_default" alt="pokemon-image">
                    <p class="pokemon-name">{{pokemon.name.toUpperCase() }}</p>
                    <div v-if="pokemon.showDetails" class="details">
                        <p>Tipo: {{pokemon.types[0].type.name}}</p>
                        <p>Peso: {{pokemon.weight}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>

<script src="index.js"></script>